-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: simkinerja
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `dokumen_output`
--

DROP TABLE IF EXISTS `dokumen_output`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `dokumen_output` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `kegiatan_id` int(11) NOT NULL,
  `nama_file` varchar(255) NOT NULL,
  `path_file` varchar(500) NOT NULL,
  `tipe_dokumen` enum('draft','final') DEFAULT 'draft',
  `deskripsi` text DEFAULT NULL,
  `ukuran_file` int(11) NOT NULL DEFAULT 0,
  `tipe_file` varchar(100) NOT NULL,
  `uploaded_by` int(11) NOT NULL,
  `uploaded_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `status_review` enum('pending','diterima','ditolak') DEFAULT 'pending',
  `catatan_reviewer` text DEFAULT NULL,
  `reviewed_by` int(11) DEFAULT NULL,
  `reviewed_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `kegiatan_id` (`kegiatan_id`),
  KEY `uploaded_by` (`uploaded_by`),
  KEY `reviewed_by` (`reviewed_by`),
  CONSTRAINT `dokumen_output_ibfk_1` FOREIGN KEY (`kegiatan_id`) REFERENCES `kegiatan_operasional` (`id`) ON DELETE CASCADE,
  CONSTRAINT `dokumen_output_ibfk_2` FOREIGN KEY (`uploaded_by`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `dokumen_output_ibfk_3` FOREIGN KEY (`reviewed_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dokumen_output`
--

LOCK TABLES `dokumen_output` WRITE;
/*!40000 ALTER TABLE `dokumen_output` DISABLE KEYS */;
/*!40000 ALTER TABLE `dokumen_output` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `evaluasi_pimpinan`
--

DROP TABLE IF EXISTS `evaluasi_pimpinan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `evaluasi_pimpinan` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `kegiatan_id` int(11) NOT NULL,
  `user_id` int(11) NOT NULL,
  `jenis_evaluasi` enum('catatan','arahan','rekomendasi') NOT NULL DEFAULT 'catatan',
  `isi` text NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `kegiatan_id` (`kegiatan_id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `evaluasi_pimpinan_ibfk_1` FOREIGN KEY (`kegiatan_id`) REFERENCES `kegiatan_operasional` (`id`) ON DELETE CASCADE,
  CONSTRAINT `evaluasi_pimpinan_ibfk_2` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `evaluasi_pimpinan`
--

LOCK TABLES `evaluasi_pimpinan` WRITE;
/*!40000 ALTER TABLE `evaluasi_pimpinan` DISABLE KEYS */;
INSERT INTO `evaluasi_pimpinan` VALUES (1,11,2,'arahan','fdgsfgfsgsgsf','2026-01-09 03:50:34'),(2,14,2,'arahan','yfyrfuyfufhfjfjhfjh','2026-01-10 11:55:26'),(3,14,2,'rekomendasi','gyufuyfuyfuf','2026-01-10 15:19:06');
/*!40000 ALTER TABLE `evaluasi_pimpinan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kegiatan`
--

DROP TABLE IF EXISTS `kegiatan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kegiatan` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `kode` varchar(50) NOT NULL,
  `nama` varchar(255) NOT NULL,
  `kro_id` int(11) DEFAULT NULL,
  `anggaran` decimal(15,2) DEFAULT 0.00,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `kode` (`kode`),
  KEY `kro_id` (`kro_id`),
  CONSTRAINT `kegiatan_ibfk_1` FOREIGN KEY (`kro_id`) REFERENCES `kro` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kegiatan`
--

LOCK TABLES `kegiatan` WRITE;
/*!40000 ALTER TABLE `kegiatan` DISABLE KEYS */;
/*!40000 ALTER TABLE `kegiatan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kegiatan_operasional`
--

DROP TABLE IF EXISTS `kegiatan_operasional`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kegiatan_operasional` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `tim_id` int(11) NOT NULL,
  `kro_id` int(11) DEFAULT NULL,
  `mitra_id` int(11) DEFAULT NULL,
  `created_by` int(11) NOT NULL,
  `nama` varchar(255) NOT NULL,
  `deskripsi` text DEFAULT NULL,
  `tanggal_mulai` date NOT NULL,
  `tanggal_selesai` date DEFAULT NULL,
  `tanggal_realisasi_selesai` date DEFAULT NULL,
  `target_output` varchar(255) DEFAULT NULL,
  `output_realisasi` decimal(15,2) DEFAULT 0.00,
  `satuan_output` varchar(50) DEFAULT NULL,
  `anggaran_pagu` decimal(15,2) DEFAULT 0.00,
  `status` enum('belum_mulai','berjalan','selesai','tertunda') DEFAULT 'berjalan',
  `status_verifikasi` enum('belum_verifikasi','menunggu','valid','revisi') DEFAULT 'belum_verifikasi',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `created_by` (`created_by`),
  KEY `idx_kegiatan_tim` (`tim_id`),
  KEY `idx_kegiatan_status` (`status`),
  CONSTRAINT `kegiatan_operasional_ibfk_1` FOREIGN KEY (`tim_id`) REFERENCES `tim` (`id`) ON DELETE CASCADE,
  CONSTRAINT `kegiatan_operasional_ibfk_2` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kegiatan_operasional`
--

LOCK TABLES `kegiatan_operasional` WRITE;
/*!40000 ALTER TABLE `kegiatan_operasional` DISABLE KEYS */;
/*!40000 ALTER TABLE `kegiatan_operasional` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kendala_kegiatan`
--

DROP TABLE IF EXISTS `kendala_kegiatan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kendala_kegiatan` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `kegiatan_operasional_id` int(11) NOT NULL,
  `user_id` int(11) NOT NULL,
  `tanggal_kejadian` date NOT NULL,
  `deskripsi` text NOT NULL,
  `tingkat_dampak` enum('rendah','sedang','tinggi') DEFAULT 'sedang',
  `status` enum('open','resolved') DEFAULT 'open',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `kegiatan_operasional_id` (`kegiatan_operasional_id`),
  KEY `user_id` (`user_id`),
  KEY `idx_kendala_status` (`status`),
  CONSTRAINT `kendala_kegiatan_ibfk_1` FOREIGN KEY (`kegiatan_operasional_id`) REFERENCES `kegiatan_operasional` (`id`) ON DELETE CASCADE,
  CONSTRAINT `kendala_kegiatan_ibfk_2` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kendala_kegiatan`
--

LOCK TABLES `kendala_kegiatan` WRITE;
/*!40000 ALTER TABLE `kendala_kegiatan` DISABLE KEYS */;
INSERT INTO `kendala_kegiatan` VALUES (3,3,3,'2026-01-07','dgdfgdffd','sedang','open','2026-01-06 17:18:42'),(4,11,3,'2026-01-08','gsfhshfh','tinggi','resolved','2026-01-08 10:10:45');
/*!40000 ALTER TABLE `kendala_kegiatan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kro`
--

DROP TABLE IF EXISTS `kro`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kro` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `kode` varchar(50) NOT NULL,
  `nama` varchar(255) NOT NULL,
  `deskripsi` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `kode` (`kode`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kro`
--

LOCK TABLES `kro` WRITE;
/*!40000 ALTER TABLE `kro` DISABLE KEYS */;
INSERT INTO `kro` VALUES (2,'KRO.001','Pengumpulan Data Statistik','Kegiatan pengumpulan data statistik dasar','2026-01-06 12:41:46'),(3,'KRO.002','Pengolahan Data Statistik','Kegiatan pengolahan dan analisis data statistik','2026-01-06 12:41:46'),(4,'KRO.003','Diseminasi Statistik','Kegiatan penyebarluasan informasi statistik','2026-01-06 12:41:46'),(5,'KRO.004','Pembinaan Statistik Sektoral','Kegiatan pembinaan statistik sektoral kepada instansi','2026-01-06 12:41:46'),(6,'KRO.005','Sensus dan Survei','Pelaksanaan sensus dan survei statistik','2026-01-06 12:41:46');
/*!40000 ALTER TABLE `kro` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `laporan_kinerja`
--

DROP TABLE IF EXISTS `laporan_kinerja`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `laporan_kinerja` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `kegiatan_id` int(11) NOT NULL,
  `tanggal` date NOT NULL,
  `jam_mulai` time NOT NULL,
  `jam_selesai` time NOT NULL,
  `uraian` text NOT NULL,
  `volume` decimal(10,2) NOT NULL,
  `satuan` varchar(50) NOT NULL,
  `keterangan` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_laporan_user` (`user_id`),
  KEY `idx_laporan_kegiatan` (`kegiatan_id`),
  KEY `idx_laporan_tanggal` (`tanggal`),
  CONSTRAINT `laporan_kinerja_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `laporan_kinerja_ibfk_2` FOREIGN KEY (`kegiatan_id`) REFERENCES `kegiatan` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `laporan_kinerja`
--

LOCK TABLES `laporan_kinerja` WRITE;
/*!40000 ALTER TABLE `laporan_kinerja` DISABLE KEYS */;
/*!40000 ALTER TABLE `laporan_kinerja` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mitra`
--

DROP TABLE IF EXISTS `mitra`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `mitra` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nama` varchar(255) NOT NULL,
  `posisi` varchar(100) DEFAULT NULL,
  `alamat` text DEFAULT NULL,
  `jk` enum('L','P') DEFAULT NULL,
  `no_telp` varchar(50) DEFAULT NULL,
  `sobat_id` varchar(50) DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mitra`
--

LOCK TABLES `mitra` WRITE;
/*!40000 ALTER TABLE `mitra` DISABLE KEYS */;
/*!40000 ALTER TABLE `mitra` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notifications`
--

DROP TABLE IF EXISTS `notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `notifications` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `title` varchar(255) NOT NULL,
  `message` text NOT NULL,
  `type` enum('evaluasi','validasi','permintaan_validasi','deadline','tugas','kendala','kegiatan') NOT NULL DEFAULT 'kegiatan',
  `reference_id` int(11) DEFAULT NULL,
  `reference_type` varchar(50) DEFAULT NULL,
  `is_read` tinyint(1) DEFAULT 0,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `read_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_user_id` (`user_id`),
  KEY `idx_is_read` (`is_read`),
  KEY `idx_created_at` (`created_at`),
  KEY `idx_type` (`type`),
  CONSTRAINT `notifications_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notifications`
--

LOCK TABLES `notifications` WRITE;
/*!40000 ALTER TABLE `notifications` DISABLE KEYS */;
/*!40000 ALTER TABLE `notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notifications_read`
--

DROP TABLE IF EXISTS `notifications_read`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `notifications_read` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `notification_id` varchar(100) NOT NULL,
  `read_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_read` (`user_id`,`notification_id`)
) ENGINE=InnoDB AUTO_INCREMENT=30 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notifications_read`
--

LOCK TABLES `notifications_read` WRITE;
/*!40000 ALTER TABLE `notifications_read` DISABLE KEYS */;
INSERT INTO `notifications_read` VALUES (1,1,'user-3','2026-01-06 09:34:35'),(2,1,'user-2','2026-01-06 09:34:35'),(3,1,'user-1','2026-01-06 09:34:35'),(7,1,'mitra-5','2026-01-06 13:50:29'),(8,1,'mitra-2','2026-01-06 13:50:29'),(9,1,'mitra-3','2026-01-06 13:50:29'),(22,1,'mitra-1','2026-01-06 13:50:34'),(23,2,'user-3','2026-01-09 03:56:25'),(24,2,'user-2','2026-01-09 03:56:25'),(25,2,'user-1','2026-01-09 03:56:25'),(26,2,'mitra-5','2026-01-09 03:56:25'),(27,2,'mitra-2','2026-01-09 03:56:25'),(28,2,'mitra-3','2026-01-09 03:56:25'),(29,2,'mitra-1','2026-01-09 03:56:29');
/*!40000 ALTER TABLE `notifications_read` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `penugasan_tim`
--

DROP TABLE IF EXISTS `penugasan_tim`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `penugasan_tim` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `kegiatan_id` int(11) NOT NULL,
  `status` enum('belum','berjalan','selesai') DEFAULT 'belum',
  `prioritas` enum('rendah','sedang','tinggi') DEFAULT 'sedang',
  `deadline` date DEFAULT NULL,
  `tanggal_mulai` datetime DEFAULT NULL,
  `tanggal_selesai` datetime DEFAULT NULL,
  `catatan` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_penugasan_user` (`user_id`),
  KEY `idx_penugasan_kegiatan` (`kegiatan_id`),
  KEY `idx_penugasan_status` (`status`),
  KEY `idx_penugasan_deadline` (`deadline`),
  CONSTRAINT `penugasan_tim_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `penugasan_tim_ibfk_2` FOREIGN KEY (`kegiatan_id`) REFERENCES `kegiatan` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `penugasan_tim`
--

LOCK TABLES `penugasan_tim` WRITE;
/*!40000 ALTER TABLE `penugasan_tim` DISABLE KEYS */;
/*!40000 ALTER TABLE `penugasan_tim` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `progres_kegiatan`
--

DROP TABLE IF EXISTS `progres_kegiatan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `progres_kegiatan` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `kegiatan_operasional_id` int(11) NOT NULL,
  `user_id` int(11) NOT NULL,
  `tanggal_update` date NOT NULL,
  `capaian_output` decimal(5,2) DEFAULT 0.00,
  `ketepatan_waktu` decimal(5,2) DEFAULT 0.00,
  `kualitas_output` decimal(5,2) DEFAULT 0.00,
  `keterangan` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  KEY `idx_progres_kegiatan` (`kegiatan_operasional_id`),
  CONSTRAINT `progres_kegiatan_ibfk_1` FOREIGN KEY (`kegiatan_operasional_id`) REFERENCES `kegiatan_operasional` (`id`) ON DELETE CASCADE,
  CONSTRAINT `progres_kegiatan_ibfk_2` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `progres_kegiatan`
--

LOCK TABLES `progres_kegiatan` WRITE;
/*!40000 ALTER TABLE `progres_kegiatan` DISABLE KEYS */;
/*!40000 ALTER TABLE `progres_kegiatan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `realisasi_anggaran`
--

DROP TABLE IF EXISTS `realisasi_anggaran`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `realisasi_anggaran` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `kegiatan_operasional_id` int(11) NOT NULL,
  `user_id` int(11) NOT NULL,
  `tanggal_realisasi` date NOT NULL,
  `jumlah` decimal(15,2) NOT NULL,
  `keterangan` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `kegiatan_operasional_id` (`kegiatan_operasional_id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `realisasi_anggaran_ibfk_1` FOREIGN KEY (`kegiatan_operasional_id`) REFERENCES `kegiatan_operasional` (`id`) ON DELETE CASCADE,
  CONSTRAINT `realisasi_anggaran_ibfk_2` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `realisasi_anggaran`
--

LOCK TABLES `realisasi_anggaran` WRITE;
/*!40000 ALTER TABLE `realisasi_anggaran` DISABLE KEYS */;
INSERT INTO `realisasi_anggaran` VALUES (4,3,3,'2026-01-07',10000000.00,NULL,'2026-01-06 17:18:31'),(5,11,3,'2026-01-08',1235000.00,'fsdgg','2026-01-08 10:10:27'),(6,11,3,'2026-01-08',3745000.00,NULL,'2026-01-08 10:28:34'),(8,7,3,'2026-01-09',0.00,NULL,'2026-01-09 06:13:56'),(9,10,3,'2026-01-09',50000000.00,NULL,'2026-01-09 06:25:20'),(11,10,3,'2026-01-10',75000000.00,NULL,'2026-01-10 07:21:28'),(12,14,3,'2026-01-11',3280000.00,NULL,'2026-01-11 07:28:23');
/*!40000 ALTER TABLE `realisasi_anggaran` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `realisasi_fisik`
--

DROP TABLE IF EXISTS `realisasi_fisik`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `realisasi_fisik` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `kegiatan_operasional_id` int(11) NOT NULL,
  `user_id` int(11) NOT NULL,
  `tanggal_realisasi` date NOT NULL,
  `persentase` decimal(5,2) NOT NULL,
  `keterangan` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `kegiatan_operasional_id` (`kegiatan_operasional_id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `realisasi_fisik_ibfk_1` FOREIGN KEY (`kegiatan_operasional_id`) REFERENCES `kegiatan_operasional` (`id`) ON DELETE CASCADE,
  CONSTRAINT `realisasi_fisik_ibfk_2` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `realisasi_fisik`
--

LOCK TABLES `realisasi_fisik` WRITE;
/*!40000 ALTER TABLE `realisasi_fisik` DISABLE KEYS */;
INSERT INTO `realisasi_fisik` VALUES (5,3,3,'2026-01-07',10.00,'sfdgsdg','2026-01-06 17:18:23');
/*!40000 ALTER TABLE `realisasi_fisik` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tim`
--

DROP TABLE IF EXISTS `tim`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tim` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nama` varchar(100) NOT NULL,
  `deskripsi` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `nama` (`nama`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tim`
--

LOCK TABLES `tim` WRITE;
/*!40000 ALTER TABLE `tim` DISABLE KEYS */;
INSERT INTO `tim` VALUES (1,'Distribusi',NULL,'2026-01-06 06:42:06'),(2,'Produksi',NULL,'2026-01-06 06:42:06'),(3,'Sosial',NULL,'2026-01-06 06:42:06'),(4,'IPDS',NULL,'2026-01-06 06:42:06'),(5,'Nerwilis',NULL,'2026-01-06 06:42:06'),(6,'Desa Cantik',NULL,'2026-01-06 06:42:06'),(7,'PSS',NULL,'2026-01-06 06:42:06'),(8,'IPM',NULL,'2026-01-06 06:42:06'),(9,'ZI',NULL,'2026-01-06 06:42:06');
/*!40000 ALTER TABLE `tim` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tindak_lanjut`
--

DROP TABLE IF EXISTS `tindak_lanjut`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tindak_lanjut` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `kendala_id` int(11) NOT NULL,
  `user_id` int(11) NOT NULL,
  `tanggal` date NOT NULL,
  `deskripsi` text NOT NULL,
  `batas_waktu` date DEFAULT NULL,
  `status` enum('direncanakan','dalam_proses','selesai') DEFAULT 'direncanakan',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `kendala_id` (`kendala_id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `tindak_lanjut_ibfk_1` FOREIGN KEY (`kendala_id`) REFERENCES `kendala_kegiatan` (`id`) ON DELETE CASCADE,
  CONSTRAINT `tindak_lanjut_ibfk_2` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tindak_lanjut`
--

LOCK TABLES `tindak_lanjut` WRITE;
/*!40000 ALTER TABLE `tindak_lanjut` DISABLE KEYS */;
INSERT INTO `tindak_lanjut` VALUES (2,4,3,'2026-01-08','djdgjdg','2026-01-23','direncanakan','2026-01-08 10:11:17');
/*!40000 ALTER TABLE `tindak_lanjut` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `upload_laporan`
--

DROP TABLE IF EXISTS `upload_laporan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `upload_laporan` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `judul` varchar(255) NOT NULL,
  `periode_bulan` int(11) NOT NULL,
  `periode_tahun` int(11) NOT NULL,
  `file_path` varchar(500) NOT NULL,
  `file_name` varchar(255) NOT NULL,
  `keterangan` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `upload_laporan_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `upload_laporan`
--

LOCK TABLES `upload_laporan` WRITE;
/*!40000 ALTER TABLE `upload_laporan` DISABLE KEYS */;
INSERT INTO `upload_laporan` VALUES (1,3,'xxx',1,2026,'/uploads/laporan/laporan_3_1767724023409.xls','Kegiatan_ZI_2026-01.xls','ggg','2026-01-06 18:27:03','2026-01-06 18:27:03');
/*!40000 ALTER TABLE `upload_laporan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `username` varchar(100) NOT NULL,
  `email` varchar(255) NOT NULL,
  `nama_lengkap` varchar(255) DEFAULT NULL,
  `password` varchar(255) NOT NULL,
  `role` enum('admin','pimpinan','pelaksana') NOT NULL DEFAULT 'pelaksana',
  `status` enum('aktif','nonaktif') DEFAULT 'aktif',
  `tim_id` int(11) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `foto` longtext DEFAULT NULL,
  `is_first_login` tinyint(1) DEFAULT 1,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`),
  UNIQUE KEY `email` (`email`),
  KEY `fk_users_tim` (`tim_id`),
  CONSTRAINT `fk_users_tim` FOREIGN KEY (`tim_id`) REFERENCES `tim` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-01-12  2:41:19
